@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #111827;
    color: #ffffffd0;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #36363680; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #505050d2; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #646464dc; 
  }