@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #111827;
    color: #ffffffd0;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

}

/* width */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #11182700; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #11182700; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #171d2b00; 
  }